<div class="container py-2">
    <h2 style="font-family: Georgia;">Liste des livres</h2>
    <!-- Button trigger modal -->
    <button type="button" (click)="ajoutpersonne()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajouter personne
      </button>
    <table class="table table-striped table-hover">
        <thead style="text-align: center;">
            <tr>
                           
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Image</th>
                           </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor="let ligne of personnes">
                <td>{{ligne.id}}</td>
                <td>{{ligne.nom}}</td>
                <td>{{ligne.prenom}}</td>
                <td><img height="150px" src="{{ligne.photo}}" alt=""></td>
               
                <td>
                  <button type="button" (click)="showEditpersonneForm(ligne)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Editer</button>
                  <button  type="button" (click)="deletepersonne(ligne.id)" class="btn btn-danger">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter une personne</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div *ngIf="showAddpersonne" class="modal-body">
            <form [formGroup]="personneForm" (click)="addpersonne()">
                
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">ID personne</label>
                    <input type="number" formControlName="id" class="form-control" id="formGroupExampleInput2" placeholder="identifiant du personne" required>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Nom</label>
                    <input type="text" formControlName="nom" class="form-control" id="formGroupExampleInput2" placeholder="Nom">
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Prénom</label>
                    <input type="text" formControlName="prenom" class="form-control" id="formGroupExampleInput2" placeholder="Prénom">
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">image</label>
                    <input type="file" formControlName="photo" name="myfile"/>
                </div>

                           </form>
        </div>
     
        <div *ngIf="editpersonneForm" class="modal-body">
            <form [formGroup]="personneForm" (ngSubmit)="editpersonne(personneForm.value.id, personneForm.value)">
                
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">ID personne</label>
                    <input type="number" formControlName="id" class="form-control"  [(ngModel)]="editedpersonne.id" ngModel required>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Nom</label>
                    <input type="text" formControlName="nom" class="form-control" [(ngModel)]="editedpersonne.nom" ngModel>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Prénom</label>
                    <input type="text" formControlName="prenom" class="form-control"  [(ngModel)]="editedpersonne.prenom" ngModel>
                </div>

                <div class="mb-3">
                    <label class="form-label">image</label>
                    <input type="file" formControlName="photo"  [(ngModel)]="editedpersonne.photo" name="myfile" ngModel>
                </div>

                           </form>
        </div>


        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit"    class="btn btn-primary">Valider</button>
        </div>
      </div>
    </div>
  </div>
