<header class="section-header">	
    <section class="header-main">
      <div class="container">
        <div class="row gy-3 align-items-center">
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="http://therichpost.com" class="navbar-brand">
              Polytech Int
            </a> <!-- brand end.// -->
          </div>
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="float-end">
              <a routerLink="/signup" class="btn btn-light"> 
                  <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign up  </span> 
              </a>
              <a routerLink="/auth" class="btn btn-light"> 
                <i class="fa fa-sign-in"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign in</span>   
              </a>
              <a href="#" (click)="logout()" class="btn btn-light"> 
                <i class="fa fa-sign-out"></i>  <span class="ms-1 d-none d-sm-inline-block">Logout</span>   
              </a>
              <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light"> 
                <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span> 
              </a>
                </div>
          </div> <!-- col end.// -->
          <div class="col-lg-5 col-md-12 col-12">
            <form action="#" class="">
                    <div class="input-group">
                      <input type="search" class="form-control" style="width:55%" placeholder="Search">
                      <select class="form-select">
                        <option value="">All type</option>
                        <option value="codex">Special</option>
                        <option value="comments">Only best</option>
                        <option value="content">Latest</option>
                      </select>
                      <button class="btn btn-primary">
                        <i class="fa fa-search"></i> 
                      </button>
                    </div> <!-- input-group end.// -->
                  </form>
          </div> <!-- col end.// -->
          
        </div> <!-- row end.// -->
      </div> <!-- container end.// -->
    </section> <!-- header-main end.// -->
  
    <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
      <div class="container">
        <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbar_main">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link ps-0" routerLink="/personne"> Home </a>
            </li>
  <!--         <li class="nav-item">
              <a class="nav-link" routerLink="/dashpersonne">Dashboard personne</a>
            </li>
                        <li class="nav-item">
              <a class="nav-link" routerLink="/personne">Personnes</a>
            </li>
  --> 
            <li class="nav-item">
              <a class="nav-link" routerLink="/produits">Produits</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/user" >AdminDashboard</a>
            </li>

          </ul>
        </div> <!-- collapse end.// -->
      </div> <!-- container end.// -->
    </nav> <!-- navbar end.// -->
  </header> <!-- section-header end.// -->